/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.group-alternate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item {
  flex: 1;
  margin: 10px 0px;
  padding: 0px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .group {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  form div {
    flex: 1;
  }

  form div input,
  form div label,
  form div select,
  form div button {
    width: 95%;
  }

  form label,
  form input,
  form select {
    margin-right: 20px;
  }

  #about div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #about img {
    max-height: 200px;
    margin-right: 20px;
  }

  #image-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #column-1,
  #column-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .ideas {
    margin: 10px;
  }

  #host {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #host-1,
  #host-2 {
    flex: 1;
  }
}
